@keyframes slideX {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0px);
    }
}
html{
    height: 100%;
}
body{
    background-color: black;
    height: 100%;
    overflow-x: hidden;
    color:white;
}
#gameBox{
    width: 100vw;
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}
#innerBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10vw);
}
#data{
    animation: slideX 2s alternate;
    position: relative;
    top:17%;
    width: 56%;
    height: 46%;
    margin-left: 22%;
    margin-right: 22%;
    border: white 2px solid;
    background-color: rgba(0,0,0,0.5);
}
#name{
    position: absolute;
    top:10%;
    left:10%;
    font-size: 2em;
}
#mctag,#ptag,#gtag,#mtag{
    position:absolute;
    top:70%;
    width: 20%;
    text-align: center;
}
#mcnum,#pnum,#gnum,#mnum{
    position:absolute;
    top:80%;
    width: 20%;
    text-align: center;
}
#mctag,#mcnum{
    left:20%;
}
#ptag,#pnum{
    left:40%;
}
#gtag,#gnum{
    left:60%;
}
#mtag,#mnum{
    left:80%;
}
#lvl{
    position: absolute;
    top:40%;
    left:10%;
    font-size: 6em;
    text-shadow: -10px 10px 3px #808080;
}
#point{
    position: absolute;
    top:40%;
    left:30%;
    font-size: 3em;
}
#operation{
    animation: slideX 2s alternate;
    position: relative;
    top: 22%;
    width: 56%;
    height: 10%;
    margin-left: 22%;
    margin-right: 22%;
    border: white 2px solid;
    background-color: rgba(0,0,0,0.5);
}
button{
    position: absolute;
    background-color: black;
    color: white;
    outline: 0;
    border: white 1px solid;
    font-size: 20px;
    padding: 10px;
}
#operation>button:hover{
    transform: scale(1.2);
}
#again{
    left:10px;
    top:15%;
    height:70%;
}
#next{
    right:10px;
    top:15%;
    height:70%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}