html{
    height: 100%;
}
body{
    height: 100%;
    color: white;
}
#gameBox{
    width: 100vw;
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}
#innerBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10vw);
}
#song_list,#operation{
    position: absolute;
    width: 46%;
    height: 92%;
    margin: 2%;
    background-color: rgba(0,0,0,0.5);
    border: white 2px solid;
}
#operation{
    left:50%;
}
#song_list>p{
    position: relative;
    top: 0;
    left:0;
    border: white 1px solid;
    padding: 10px;
    margin: 10px;
}
#song_list>p:hover{
    background-color: #404040;
    transform: scale(1.2,1.2);
    transform-origin: left;
    width: calc(100% / 1.2 - 16.75px);
}
#operation>h1{
    margin: 20px;
}
#operation>h3{
    margin: 20px;
}
#operation>button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    outline: 0;
    border: white 1px solid;
    font-size: 20px;
    padding: 10px;
}
#operation>button:hover{
    transform: scale(1.2);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}